:root {
  --cat-emploi: #ff4d4d;
  --cat-vehicule: #4d79ff;
  --cat-immobilier: #4dff88;
  --cat-vacances: #ffb84d;
  --cat-multimedia: #d94dff;
  --cat-loisirs: #4dd2ff;
  --cat-materiel: #ffd24d;
  --cat-services: #4dffcc;
  --cat-maison: #ff4d9d;
  --cat-vetements: #8cff4d;
  --cat-autres: #999999;
}

/* Styles Badges catégories */

span.badge.badge-emploi {
  background-color: #ff4d4d;
  color: white;
}
span.badge.badge-vehicule {
  background-color: #4d79ff !important;
}

span.badge.badge-immobilier {
  background-color: #4dff88;
  color: black;
}
span.badge.badge-vacances {
  background-color: #ffb84d;
  color: black;
}
span.badge.badge-multimedia {
  background-color: #d94dff;
  color: white;
}
span.badge.badge-loisirs {
  background-color: #4dd2ff;
  color: black;
}
span.badge.badge-materiel {
  background-color: #ffd24d;
  color: black;
}
span.badge.badge-services {
  background-color: #4dffcc;
  color: black;
}
span.badge.badge-maison {
  background-color: #ff4d9d;
  color: white;
}
span.badge.badge-vetements {
  background-color: #8cff4d;
  color: black;
}
span.badge.badge-autres {
  background-color: #999999;
  color: white;
}

/* .badge.badge-emploi {
  background-color: var(--cat-emploi);
  color: white;
}
.badge.badge-vehicule {
  background-color: var(--cat-vehicule);
  color: white;
}
.badge.badge-immobilier {
  background-color: var(--cat-immobilier);
  color: white;
}
.badge.badge-vacances {
  background-color: var(--cat-vacances);
  color: black;
}
.badge.badge-multimedia {
  background-color: var(--cat-multimedia);
  color: white;
}
.badge.badge-loisirs {
  background-color: var(--cat-loisirs);
  color: black;
}
.badge.badge-materiel {
  background-color: var(--cat-materiel);
  color: black;
}
.badge.badge-services {
  background-color: var(--cat-services);
  color: black;
}
.badge.badge-maison {
  background-color: var(--cat-maison);
  color: white;
}
.badge.badge-vetements {
  background-color: var(--cat-vetements);
  color: black;
}
.badge.badge-autres {
  background-color: var(--cat-autres);
  color: white;
} */

/* Styles header */

.sticker-title {
  font-family: "Cherry Bomb One", cursive;
  font-size: 3rem;
  color: #0d6efd;
  letter-spacing: 1px;

  position: relative;
  display: inline-block;
}

/* couche blanche derrière = effet sticker réel */
.sticker-title::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;

  color: white;
  z-index: -1;

  transform: scale(1.15);
  filter: blur(0px);
}

.sticker-subtitle {
  font-size: 1.25rem;
  color: #6c757d;
  font-style: italic;
  margin-top: -4px;
  letter-spacing: 0.5px;
}
